* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #081b29;
    margin-left: 25%;
}

.services {
    background: #081b29;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 3px;
    text-align: center;
}
.sub-title{
    color: #fff;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 600;
}
.container{
    padding: 90px;
    width: 260px;
    height: 300px;
}
.services-list{
    display: flex;
    grid-gap: 60px;
    margin-top: 60px;
}
.services-list div{
    background-color: transparent;
    padding: 30px;
    font-size: 17px;
    font-weight: 13px;
    border-radius: 20px;
    border-right: 10;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
              1px 1px 40px#0053b8f7;
}
.services-list div:hover{
    box-shadow: 0 0 25px #012290f7,
                0 0 50px #012290f7,
                0 0 75px #012290f7
}
.services-list div h1{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #0ef;
    margin-bottom: 4px;
}
.services-list div h2{
    color: whitesmoke;
    font-size: 18px;
    text-align: center;
    margin-bottom: 4px;
}
.services-list div p{
    font-size: 14.5px;
    color: #fff;
    margin-bottom: 4px;
    line-height: 1.4;
    text-align: justify;
}
.services-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.read {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    font-weight: 600;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
}
.read:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan;
}
.services-list div:hover{
    transform: translateY(-10px);
}
